<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xero Financials Importer - Schedule</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"
          type="text/css"/>
</head>
<body>

<script>
    $(document).ready(function () {
        $("#navigation").load("/html/navigation.html");
    });
</script>

<div class="card">
    <div id="navigation"></div>
</div>

<div class="card mx-auto">
    <div class="card-body mx-auto">
        <form class="form-inline" method="POST" th:object="${newScheduleTime}" th:action="@{/schedule}">
            <div class=" form-group mb-2">
                <input type="text" readonly class="form-control-plaintext" id="description"
                       value="New Schedule (UTC)">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="startTimePicker" class="sr-only">Schedule Time</label>
                <input type="time" class="form-control" id="startTimePicker"
                       th:field="*{startTime}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body" style="padding-left: 0px; padding-right: 0px;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Schedule Time (UTC)</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="time : ${scheduleTimes}">
                <td th:text="${time.startTime}"></td>
                <td>
                    <li class="list-inline-item"><a th:href="'/schedule/delete/'+${time.id}" class="btn btn-warning">Delete</a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>
